<!DOCTYPE html>

<html>

  <head>
    <title>Suggestions</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>

  <body>

    <div id="users"></div>

    <script>
      setInterval(function() {
        console.log('ree');
        var text = $('#search_form_input').val();

        $.ajax({
          url: "/get_users",
          type: "get",
          success: function(response) {
            $("#users").html(response);
          },
          error: function(xhr) {
            //Do Something to handle error
          }
        });
      }, 1000);
    </script>

  </body>

</html>