<!DOCTYPE html>

<html>

  <head>
    <title>Suggestions</title>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel = "stylesheet" href = "{{ url_for('static', filename='style.css') }}">
    <link rel = "stylesheet" media = "screen" href="https://fontlibrary.org/face/carlito" type = "text/css"/>
  </head>

  <body>

    <div id = "main">
      <div class = "chatwindow">
        <div class = "heading">Chat</div>
        <div id = "messages"></div>
        <div class = "messagebox">
          <input type = "text" id = "msgbox"/>
          <div class = "button" id = "submit">Send</div>
        </div>
      </div>
      <div class = "userwindow">
        <div class = "heading">Users</div>
        <div id = "users"></div>
      </div>
    </div>

    <script>
      function submit() {
        if ($("#msgbox").val().length > 0) {
          $.ajax({
            url: "/send_message",
            type: "get",
            data: {'msg' : $("#msgbox").val()},
            success: function(response) {
            },
            error: function(xhr) {
                //Do Something to handle error
            }
          });
          $("#msgbox").val('');
        }
      }

      $('#msgbox').keypress(function(e) {
        if (e.which == 13) {
          submit();
          return false;
        }
      });
      setInterval(function() {
        $.ajax({
          url: "/get_users",
          type: "get",
          success: function(response) {
            console.log(response);
            $("#users").html(response);
          },
          error: function(xhr) {
            //Do Something to handle error
          }
        });
        $.ajax({
          url: "/get_messages",
          type: "get",
          success: function(response) {
            $("#messages").html(response);
          },
          error: function(xhr) {
            //Do Something to handle error
          }
        });
      }, 1000);
      $('#submit').on('click', () => {
        submit();
      });
    </script>

  </body>

</html>
